* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  margin-top: 10px;
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: black;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  background: #1BA94C ;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    #ad1c1c 0%,
    #FB7C7C 69%,
    #f0a0a0 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: black;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: black;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #53CAE0;
}

.login .loginContainer select{
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  letter-spacing: 1px;
  padding-right: 100px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  background-position-x: 96.5%;
}

.login .loginContainer option{
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  letter-spacing: 1px;
}

::-webkit-datetime-edit-text { color: black; padding: 0 0.3em; }
::-webkit-calendar-picker-indicator { cursor: pointer; }

.login .loginContainer .errorMsg {
  color: white;
  font-size: 16px;
}

.dashboard-main{
  display: flex;
  /* flex-direction: column;
  background-color: #FB7C7C; */
  width: 100vw;
  height: 100vh;
}

.heading-line{
  /* background-color: aqua; */
  width: 100vw;
  height: 5vh;
}

.second-line{
  /* background-color:brown; */
  width: 100vw;
  height: 10vh;
}

.container{
  /* background-color: lightpink; */
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.filters{
  /* background-color: white; */
  width: 100vw;
  height: 10vh;
}

.content{
  /* background-color: whitesmoke; */
  width: 100vw;
  height: 75vh;
}