* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

button {
  margin-top: 10px;
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: black;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  background: #1BA94C ;
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
  background-image: url('../images/stanford.jpg');
  background-size: 100%;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    #d36969 0%,
    #f18282 69%,
    #f6a9a9 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: black;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: black;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: black;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: #53CAE0;
}

.login .loginContainer select{
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  letter-spacing: 1px;
  padding-right: 100px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgba(255, 255, 255, 0.1);
  -webkit-appearance: none;
  background-position-x: 96.5%;
}

.login .loginContainer option{
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: black;
  letter-spacing: 1px;
}

::-webkit-datetime-edit-text { color: black; padding: 0 0.3em; }
::-webkit-calendar-picker-indicator { cursor: pointer; }

.login .loginContainer .errorMsg {
  color: white;
  font-size: 16px;
}

.dashboard-main{
  display: flex;
  flex-direction: column;
  /*background-color: #FB7C7C; */
  width: 100vw;
  height: 100vh;
}

.dashboard-body{
  position: relative;
}

.heading-line{
  background-color: #FFFEFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5vh;
  padding: 0px 100px;
}

.left-headingline{
  display: flex;
  justify-content: space-between;
}

.home,.manage{
  display: flex;
  align-items: center;
}

.home-title,.manage-title{
  margin-right: 10px;
  color: #142542;
  cursor: pointer;
}

.home-icon,.manage-icon{
  width: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.navigations{
  display: flex;
  align-items: center;
}

.left-heading{
  color: #1e61dc;
  font-weight: 600;
  font-size: 1.5em;
  margin-right: 50px;
}

.right-heading{
  display: flex;
  align-items: center;
}

.user-profile{
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.down-arrow{
  width: 15px;
  cursor: pointer;
}

.second-line{
  background-color:#F2F3FA;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 0px 100px;
}

.student-heading{
  color: #142542;
  margin-bottom: 0;
}

.student-icon{
  width: 45px;
  margin-right: 20px;
  background-color: #6672fe;
  border-radius: 5px;
  padding: 5px 5px;
}

.student-count{
  color: #8e96a3;
  border: 1px solid #8e96a3;
  border-radius: 50px;
  padding: 5px 5px;
  margin-left: 20px;
}

.container{
  /* background-color: lightpink; */
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.filters{
  /* background-color: rgb(163, 59, 59); */
  width: 100vw;
  height: 10vh;
  display: flex;
  padding-left: 22.5%;
  align-items: center;
  font-size: 30px;
}

.content{
  /* background-color: whitesmoke; */
  padding: 0px 10%;
  width: 100vw;
  height: 75vh;
  overflow-x: hidden;
}

.drawer-container, .drawer-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.drawer-profile{
  width: 150px;
}

.drawer-info h1{
  margin-bottom: 50px;
}

.course{
  margin-right: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #37474f;
  background: #eceff1;
  padding: 5px 10px;
  border-radius: 50px;
}

.ant-button{
  margin-top: 20px;
  width: 150px;
}

.courses-list{
  display: flex;
  /* justify-content: space-evenly; */
  flex-wrap: wrap;
  align-items: center;
}

.course-title{
  color: #1e61dc;
  font-size: 30px;
  margin-bottom: 10px;
}

.edit-mode{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.course-console{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.spin{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin-right: 500px;
}

/* .custom-antd-drawer {
  width: 500px !important;
} */

.ant-drawer-content-wrapper {
  position: absolute;
  width: 500px !important;
  height: 100%;
}

.content {
  width: 70vw;
}

@media only screen and (max-width: 1100px) {
  .content {
    width: 100vw;
  }

  .heading-line {
    padding: 0px 30px;
  }

  .second-line {
    padding: 0px 30px;
  }

  .content {
    padding: 0 5%;
  }

  .filters {
    padding: 0 5%;
    max-width: 100vw;
    width: 1000px;
    display: grid;
    place-items: center center;
  }

  .ant-drawer-content-wrapper {
    position: absolute;
    width: 400px !important;
    height: 100%;
  }
  /* .custom-antd-drawer {
    width: 400px !important;
  } */
  .spin {
    display: grid;
    justify-content: center;
    align-items: center;
    place-items: center center;
    min-height: 50vh;
    margin-right: 0;
  }
}



@media only screen and (max-width: 425px) {
  .content {
    width: 100vw;
  }
  
  .heading-line {
    padding: 0px 20px;
  }

  .second-line {
    padding: 0px 20px;
  }

  .home-icon {
    width: 20px;
    display: grid;
    margin: 0px 15px;
  }

  .manage-icon {
    width: 20px;
    display: grid;
    margin: 0px 15px;
  }

  .home-icon, .manage-icon {
    margin: 0px 15px;
  }

  .home-title {
    display: none;
  }

  .manage-title {
    display: none;
  }

  .navigations {
    margin-left: 20px;
  }

  .user-profile {
    display: grid;
    width: 15px;
  }

  .down-arrow {
    width: 10px;
    display: grid;
  }

  .student-icon {
    width: 35px;
  }

  .student-heading {
    font-size: 22px;
  }

  .student-count {
    font-size: 12px;
    padding: 3px 7px;
  }

  .filters {
    font-size: 22px;
  }

  .ant-drawer-content-wrapper {
    width: 100vw !important;
  }
}

.unauthorized{
  display: grid;
  place-items: center;
  place-content: center;
  min-height: 50vh;
}